@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Service Management System</h1>
    <p class="lead">Service Management System is a  web application that allows you to track all change and incident processes in your company. Through this system you can also build your Business Continuity plan. To access the processes please login with your credentials or contact your administrator.</p>

</div>

<div class="row">
    <div class="col-md-4">
        <h2>Incident process</h2>
        <p>
            The first goal of the incident management process is to restore a normal service operation as quickly as possible and to minimize the impact on business operations.
        </p>
        @*<p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>*@
    </div>
    <div class="col-md-4">
        <h2>Change process</h2>
        <p>A request for change (RFC) may be raised to modify an IT service in order to resolve a problem. An incident or a problem may lead to a change.</p>
        @*<p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>*@
    </div>
    <div class="col-md-4">
        <h2>Business Continuty Plan</h2>
        <p>Business continuity planning (BCP, also called business continuity and resiliency planning BCRP) identifies an organization's exposure to internal and external threats and synthesizes hard and soft assets to provide effective prevention and recovery for the organization, while maintaining competitive advantage and value system integrity.</p>
        @*<p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>*@
    </div>
</div>